.backdrop {
  background-color: rgba(0, 0, 0, 0);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  position: fixed;
}

.container {
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.08);
  padding: 0.8rem 0;
  border-radius: 11px;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  background-color: #fff;
  transform: translate(90%);
}

.container div {
  padding: 1rem;
  border-radius: 11px;
}

.container div span {
  margin-left: 1.8rem;
}

.container div:hover {
  background-color: #eee;
}

.container.disable-hover div:hover {
  background-color: #fff;
}

.container svg {
  width: 1.8rem;
  height: 1.8rem;
}
